/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #1e293b, #0f172a);
  color: white;
  text-align: center;
  padding: 20px;
}

/* ===== TITULOS ===== */
h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

h2 {
  margin: 30px 0 15px;
}

/* ===== CONTROLES ===== */
.controls {
  margin-bottom: 25px;
}

select, button {
  padding: 10px 14px
